@import "../../styles/variables";

.btn {
  all: unset;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;

  &__icon {
    width: 20px;
    height: 20px;
  }
}
