// Fonts

$MAIN_FONT: "Nunito Sans";
$MAIN_SIZE: 14px;
$TITLE_SIZE: 16px;

// Colors

$DARK_BLUE: hsl(209, 23%, 22%);
$VERY_DARK_BLUE_BACK: hsl(207, 26%, 17%);
$VERY_DARK_BLUE_TEXT: hsl(200, 15%, 8%);
$DARK_GRAY: hsl(0, 0%, 52%);
$VERY_LIGHT_GRAY: hsl(0, 0%, 98%);
$WHITE: hsl(0, 0%, 100%);
