@import "../styles/variables";

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: $WHITE;
}

.darkBackground {
  background-color: $VERY_DARK_BLUE_BACK;
  color: $WHITE;
}
