@import "../styles/variables";

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  background-color: $WHITE;

  &__boxOne {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
}

.darkBackground {
  background-color: $VERY_DARK_BLUE_BACK;
  color: $WHITE;
}
